 /* @import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

body .Signup {
  height: 100vh;
  width: 100%;
  background: #c1c1c1;
  box-shadow: 20px 20px 60px #00000041, inset -20px -20px 60px #ffffff7b;
}

.Signup {
  width: 400px;
  padding: 2.5% 0 0;
  margin: auto;
  font-family: "Comfortaa", cursive;
   
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  margin-top: 50px;
  
  text-align: center;
  box-shadow: 20px 20px 60px #00000041;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Comfortaa", cursive;
}

.form input:focus {
  background: #dbdbdb;
}

.form button {
  font-family: "Comfortaa", cursive;
  text-transform: uppercase;
  outline: 0;
  background: #2e3092;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:active {
  background: #009933;
}

.form span {
  font-size: 40px;
  color: #2e3092;
  margin-bottom: 25px;
  display: block;
}

.form p.error {
  margin: 0 0 10px 10px;
  text-align: left;
  font-size: 10px;
  color: red;
}  */
